@CHARSET "UTF-8";
.div_content_border{
    width:1000px;;
	min-height:800px;
	border:1px solid #ffffff;
	padding:20px;
}
.div_header{
	padding-top:10px;
	padding-left:170px;
	padding-bottom:50px;
	border-bottom:2px dotted #a8d7fd;
	width:100%;
}

#span_student_do{
	border:2px solid #a8d7fd;
	margin-right:20px;
}
#span_teacher_do{
	border:2px solid #63b9ff;
}
.div_content_border > ul{
	padding:25px;
	height:100px;
	padding-left:140px;
}
.div_content_border > ul > li{
	float:left;
	margin-right:10px;

}
#select_class_idx{
	width:200px;
}
#searchText_stu_name{
	width:200px;
	height:33px;
}
#button_search{
	width:200px;
	height:31px;

}
#table_eval{
	width:100%;
	border:1px solid #eaeff6;
	box-shadow: 4px 4px 4px 0px #cccccc;
	
}
.tr_eval_2{
	background:#c9d0d8;
	color:white;
}
.tr_eval_1{
	
}
.tr_eval_0{
	background:#ffffff;
}
.td_stu_idx{
	
}
.button_class_subject{
	background:#ffffff;
	border:0px;
}
.td_class_subject{
	width:50px;
}
.td_tea_name{

}
.td_stu_name{
	width:100px;
}
.td_eval_avg{
	width:100px;
}
.td_c_e_writedate{
	width:180px;
}
.td_c_e_note{
	width:200px;
}
.modal-content{
	width:740px;
}

.modal-body{
	
}
.modal_span_stu_name{
	text-indent:10px;
	margin-left:20px;
}
.modal_span_class_subject{
	text-indent:10px;
	position:relative;
	left:70px;
}
#modal_label_stu_name{
	
}
#modal_label_class_subject{
}
#eval_note{
	width:710px;
	margin:0px auto;
}
.modal_tr_2{
	background:#c9d0d8;
	color:white;
}
.modal_tr_1{
	background:#f0f3f4;
}
.modal_tr_0{

}
.modal_td_c_e_q_question{
	background:#f0f3f4;
	color:black;
}
.modal_td_c_e_q_question tr{
	background:#f0f3f4;
}
.modal_td_c_e_q_a{

}



#modal_label_c_e_note{
	
}
#c_e_note{
    width:700px;
    min-height:100px;
	padding:10px;
	text-indent: 4px;
}
#eval_note tfoot td{
}
#eval_note{	
}