@CHARSET "UTF-8";
/*사이드바 래퍼 스타일*/
#page_wrapper{
padding-left: 250px;
}

#sidebar_wrapper{
position: fixed;
width: 250px;
height: 100%;
margin-left: -250px;
background: #000;
overflow-x: hidden;
overflow-y: auto; 
}

#page_content_wrapper{
width: 100%;
padding: 20px;
}

/* 사이드 바 스타일 */
.sidebar_nav{
width: 250px;
margin: 0;
padding: 0;
list-style: none;
}

.sidebar_nav li{
text-indent: 1.5em;
line-height: 2.8em;
}

.sidebar_nav li a{
display: block;
text-decoration: none;
color: #999;
}

.sidebar_nav li a:HOVER {
color: #fff;
background: rgba(255, 255, 255, 0.2);
}

.sidebar_nav > .sidebar_brand{
font-size: 1.3em;
line-height: 3em;
}